
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2 class="my-4">Nouveau post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content" rows="8" class="form-control" formControlName="content"></textarea>
      </div>
      <div class="text-center mt-4">
        <button  type="submit" class="btn btn-success mr-2" [disabled]="postForm.invalid">Ajouter</button>
        <button type="button" class="btn btn-dark" (click)="onBack()">Retour</button>
      </div>
    </form>
  </div>
</div>
